@font-face {
  font-family: "Kaushan";
  src: url("assets/fonts/KaushanScript/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/KaushanScript/Montserrat/Montserrat-Bold.ttf");
}
