body {
  background-color: #efefef;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.wrapper {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.nav > li {
  margin-left: 10px;
  margin-right: 10px;
}

.nav > li > a {
  text-decoration: none;
  color: #333333;
}
.header {
  background: #fff;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header_info > span {
  font-size: 16px;
}
.header_info > button {
  font-size: 14px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #66c05d;
  padding: 10px 15px;
  margin-left: 20px;
  transition: 0.7s ease;
}
.header_info > button:hover {
  background-color: #66c05d;
  color: #fff;
}
.logo {
  color: #66c05d;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.logo_image {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(../img/logo.svg);
  margin-right: 10px;
}
.header_bottom {
  padding: 15px 0;
}

.header_bottom > nav {
  font-size: 16px;
  margin: 0;
}

hr {
  border: solid 1px #efefef;
}
.title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.banner {
  background-image: url(../img/bg.jpg);
  padding-top: 100px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.banner p {
  margin-bottom: 50px;
  max-width: 315px;
}
.btn {
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 15px;
  color: #fff;
  transition: 0.7s ease;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

.bg_white {
  background-color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid_item_title {
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid_item_img {
  grid-column: 4/5;
  grid-row: 1/2;
}
